{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
{% endblock content %}

<!--    <table style="width:100%;border:1px solid black;border-collapse: collapse;">-->
<!--        {% for flight in flights%}-->
<!--        <tr style="border:1px solid black;border-collapse: collapse;">-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.id }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.created_at }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.updated_at }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.flight_identifier }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.flt_num }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.scheduled_origin_gate }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.scheduled_destination_gate }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.out_gmt }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.in_gmt }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.off_gmt }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.on_gmt }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.destination }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.origin }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.destination_full_name }}</th>-->
<!--            <th style="border:1px solid black;border-collapse: collapse;">{{ flight.origin_full_name }}</th>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->